@{
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
    ViewData["Title"] = "Create Account";
}

@model RecipeBuilder.Models.CreateAccountModel;

<!-- styling for page -->
<head>
    <style>
        h1 {
            color: #4A743E;
            text-align: center;
            margin-top: 0;
            padding-top: 0;
        }

        .schedule-title {
            font-size: 1.5em;
            margin: 10px 0;
            color: #4A743E;
            text-align: left;
        }

        body {
            background-color: #ffffff;
            color: #333;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0;
        }

        #button a {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background-color: #4A743E;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            border: none;
            transition: background-color 0.3s ease;
        }

        #button a:hover {
            background-color: #96AE6D;
        }

        /* styles for the submit button */
        #button button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background-color: #4A743E;
            text-align: center;
            border-radius: 5px;
            border: none;
            transition: background-color 0.3s ease;
        }

        #button button:hover {
            background-color: #96AE6D;
        }

        /* to make buttons side by side */
        .button-container {
            display: inline-block;
            margin: 0 10px;
        }

        .text-center {
            text-align: center;
        }

        .form-group {
            text-align: left;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="text-center">
            <h1 class="display-4">Create Account</h1>
            <form method="post" asp-controller="Account" asp-action="Create" id="form">
                <div class="form-group">
                    <h2 class="schedule-title">Username</h2>
                    <input type="text" asp-for="username" class="form-control" id="username" placeholder="Enter your username" />
                    <span asp-validation-for="username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h2 class="schedule-title">Password</h2>
                    <input type="password" asp-for="password" class="form-control" id="password" placeholder="Enter your password" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h2 class="schedule-title">Email</h2>
                    <input type="email" asp-for="email" class="form-control" id="email" placeholder="Enter your email" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h2 class="schedule-title">Phone Number</h2>
                    <input type="text" asp-for="phoneNumber" class="form-control" id="phone" placeholder="Enter your phone number" />
                    <span asp-validation-for="phoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="button-container" id="button">
                        <button type="submit">Create Account</button> <!-- create account button, format for sending to required page after successful account creation -->
                    </div>
                    <div class="button-container" id="button">
                        <a asp-controller="Account" asp-action="Login">Log In</a> <!-- log in page -->
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div>
        @if (Model != null){
            @if (Model.msg != "") {
                <p>@Model.msg</p>
            }
        }
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</body>
