@{
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
    ViewData["Title"] = "Title";
}

<div class="text-center">
    <h1 class="display-4" style="color: #4A743E;">Heading</h1>
    <p>Let's get ready to cook!</p>
</div>