@model RecipeBuilder.ViewModels.TestViewModel
@{
    ViewData["Title"] = "Tester Profile Setup & Reset";
}

<div class="text-center">
    <h1>Tester Profile Setup & Reset</h1>
    <p>Let's get ready to cook!</p>
    <div class="container">
        <h2>Type Tester followed by your name to setup or reset your tester profile</h2>
        <form asp-action="Index" method="post">
            <div class="form-group">
                <label asp-for="TestUserName" class="control-label">Username: </label>
                <input asp-for="TestUserName" class="form-control" />
                <span asp-validation-for="TestUserName" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>