@model RecipeBuilder.ViewModels.UserIndexVM

@{
    ViewData["Title"] = "User Home";
}

<style>
    .btn-custom {
        display: inline-block;  /* Allows button width to be based on content */
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        background-color: #4A743E;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        border: none;
        transition: background-color 0.3s ease;
    }

    .btn-custom:hover {
        background-color: #96AE6D;
    }

    .block {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
        justify-content: center;
        background-color: #F5F5F5;
        border-radius: 5px;
        max-width: 300px;
        padding: 10px;
        text-align: center;
    }

    /* Ensures the container doesn't stretch the button */
    .btn-container {
        display: inline-block; /* This prevents the button from stretching */
        text-align: center;    /* Centers the content inside the block */
    }
</style>

<div class="text-center">
    <h1 class="display-4" style="color: #4A743E;">Home</h1>
</div>

<div class="row">
    <h2 class="display-4" style="color: #4A743E;">Cookbooks:</h2>
    @if (Model.cookbooks.Count != 0)
    {
        @foreach (var cookbook in Model.cookbooks)
        {
            <div class="col-md-4">
                <div class="block">
                    <h4 style="color: #4A743E;">@cookbook</h4>
                    <div class="btn-container">
                        <a asp-controller="Cookbooks" asp-action="Cookbook" asp-route-name=@cookbook class="btn-custom">View Cookbook</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>No Cookbooks Found.</p>
    }
</div>

<br />
<br />

<div class="row">
    <h2 class="display-4" style="color: #4A743E;">Recipes:</h2>
    @if (Model.recipes.Count != 0)
    {
        @foreach (var recipe in Model.recipes)
        {
            <div class="col-md-4">
                <div class="block">
                    <h4 style="color: #4A743E;">@recipe</h4>
                    <div class="btn-container">
                        <a asp-controller="Recipe" asp-action="Look" asp-route-recipeName=@recipe class="btn-custom">View Recipe</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>No Recipes Found.</p>
    }
</div>
