@{
    ViewData["Title"] = "Title";
}

<div class="text-center">
    <h1 class="display-4">Ingredients</h1>
    <br>
    <div class="search-container">
        <form action="/action_page.php">
        <input type="text" placeholder="Search" name="search">
        </form>
    </div>
</div>