@model RecipeBuilder.Models.Ingredient


@{
    ViewData["Title"] = "Ingredient";
}

<style>
    body {
        hr.rounded {
        border-top: 8px solid #96AE6D;
        border-radius: 5px;
        }
    }
</style>
<body>
    <div class="text-center">
    <h1 class="display-4" style="color: #4A743E;">Ingredient</h1>
        <hr class="rounded">
    </div>

    <div class="">
        <h2>Recipes with :</h2>
        <!-- have logic to put selected ingredient name here ^-->
    </div>

</body>