@{
    ViewData["Title"] = "Group";
}

<style>
    body {
        hr.rounded {
        border-top: 8px solid #96AE6D;
        border-radius: 5px;
        }
    }
</style>
<body>
    <div class="text-center">
    <h1 class="display-4" style="color: #4A743E;">Groups</h1>
        <hr class="rounded">
    </div>

</body>