@{
    ViewData["Title"] = "Vewy Secwet DB Test Page";
}
@model recipe_builder.Models.VewySecwetModel

<div class="text-center">
    <h1>Stuff for testing various queries.</h1>
    <p>weee woooo</p>
    <p>@Model.result<p>
</div>
