@{
    ViewData["Title"] = "Vewy Secwet DB Test Page";
}
@model RecipeBuilder.Models.VewySecwetModel

<div class="text-center">
    <h1>Stuff for testing various queries.</h1>
    <p>Testing GetRecipe</p>
    <p>@Model.title<p>
    <p>
</div>
