@{
    ViewData["Title"] = "Title";
}

<div class="text-center">
    <h1 class="display-4">Pantry</h1>
    <br>
    <button type="button">Shopping List</button>
    <br>
</div>

<div class=""> 
    <br>
        <ul>
        <li>Almonds <a href="url">Add Item To Shopping List</a> <a href="url">Remove</a></li>
        <li>Bread <a href="url">Add Item To Shopping List</a> <a href="url">Remove</a></li>
        <li>Coconuts <a href="url">Add Item To Shopping List</a> <a href="url">Remove</a></li>
        <li>Dates <a href="url">Add Item To Shopping List</a> <a href="url">Remove</a></li>
        </ul>
</div>