@{
    ViewData["Title"] = "Title";
}

<div class="text-center">
    <h1 class="display-4">Shopping List</h1>
    <br>
    <button type="button">Pantry</button>
    <br>
</div>

<div class=""> 
    <br>
        <ul>
        <li>Almonds</li>
        <li>Bread</li>
        <li>Coconuts</li>
        <li>Dates</li>
        </ul>
</div>