@model RecipeBuilder.ViewModels.RecipeEditVM
@{
    ViewData["Title"] = "Edit Recipe";
}

<div class="text-center">
    <h2 class="display-4">Create Recipe</h2>
    <form asp-action="Add" method="post">
        <div class="form-group">
            <label asp-for="recipe.Name" class="control-label">Recipe Name:</label>
            <input asp-for="recipe.Name" class="form-control" />
            <span asp-validation-for="recipe.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="recipe.Tags">Tags:</label>
            <input asp-for="recipe.Tags" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="recipe.Difficulty">Difficulty:</label>
            <textarea asp-for="recipe.Difficulty" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="recipe.Ingredients">Ingredients:</label>
            <textarea asp-for="recipe.Ingredients" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="recipe.numServings">Number of Servings:</label>
            <input asp-for="recipe.numServings" class="form-control"/><br>
        </div>
        <div class="form-group">
            <label asp-for="recipe.servingSize">Serving Size:</label>
            <input asp-for="recipe.servingSize" class="form-control"/><br>
        </div>
        <div class="form-group">
            <label asp-for="recipe.Equipment">Tools/Equipment Needed:</label>
            <textarea asp-for="recipe.Equipment" class="form-control"></textarea><br>
        </div>
        <div class="form-group">
            <label asp-for="recipe.Instructions">Instructions:</label>
            <textarea asp-for="recipe.Instructions" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>