@model RecipeBuilder.Models.Recipe

@{
    ViewData["Title"] = "View Recipe";
}

<div class="text-center">
    <h1 class="display-4">Recipe: @Model.Name</h1>
    <p>Let's get ready to cook!</p>
    <p>Here are the instructions:</p>
</div>