@model RecipeBuilder.Models.Recipe

@{
    ViewData["Title"] = "View Recipe";
}

<div class="text-center">
    <h2 class="display-4">Recipe</h2> @*Need to display recipe name*@
    <p>Let's get ready to cook!</p>
</div>