@{
    ViewData["Title"] = "Create Cookbook";
}

<div class="text-center">
    <h2 class="display-4">Create Cookbook</h2>
</div>
@*<form asp-action="" method="post"> *need to know which controller is used*@
<div class="form-group">
    <label for="Name">Cookbook Name:</label>
    <input type="text" class="form-control" id="Name" name="Name" required />
</div>

<div class="form-group">
    <label for="Tags">Tags:</label>
    <input type="text" class="form-control" id="Tags" name="Tags" />
</div>

<div class="form-group">
    <label for="Description">Description:</label>
    <textarea class="form-control" id="Description" name="Description" required></textarea>
</div>

@*@if (selectedRecipe != null) *Need to pull from Model*
{
    <div class="form-group">
        <label>Recipes Added:</label>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Recipe1</h5> *selectedRecipe.Name*
                <p class="card-text">Description Recipe1</p> *selectedRecipe.Description*
                * A remove option will go here *
            </div>
        </div>
    </div>
}*@

<div class="form-group">
    <label for="AddedRecipes">Add Recipes:</label>
    <a asp-controller="Recipe" asp-action="Select">Select Recipe</a>
</div>
<button type="submit" class="btn btn-success">Save Cookbook</button>
@*</form>*@