@model RecipeBuilder.ViewModels.CookbooksAddVM

@{
    ViewData["Title"] = "Create Cookbook";
}

<style>
    /* header styling */
    h1 {
        color: #4A743E;
    }

    /* button styling */
    .btn-custom {
        background-color: #4A743E;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    .btn-custom:hover {
        background-color: #96AE6D;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Create Cookbook</h1>
</div>

<form asp-controller="Cookbooks" asp-action="Add" method="post" id="form">

<div class="form-group">
    <label for="CookbookTitle">Cookbook Name:</label>
    <input type="text" class="form-control" id="CookbookTitle" asp-for="CookbookTitle" required /><br>
    <span asp-validation-for="CookbookTitle" class="text-danger"></span>
</div>

<div class="form-group">
    <label for="CookbookDescription">Description:</label>
    <textarea class="form-control" id="CookbookDescription" asp-for="CookbookDescription" required></textarea><br>
    <span asp-validation-for="CookbookDescription" class="text-danger"></span>
</div>

@*@if (selectedRecipe != null)
{
    <div class="form-group">
        <label>Recipes Added:</label>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Recipe1</h5> *selectedRecipe.Name*
                <p class="card-text">Description Recipe1</p> *selectedRecipe.Description*
                * A remove option will go here *
            </div>
        </div>
    </div>
}*@

<div class="form-group">
    <label for="AddedRecipes">Add Recipes:</label>
    <a asp-controller="Recipe" asp-action="Select">Select Recipe</a><br>
</div>

        @if (Model != null)
        {
            @if (Model.msg != "")
            {
            <div>
            <p>@Model.msg</p>
            </div>
            }
        }


<br><button type="submit" class="btn btn-custom">Save Cookbook</button><br>
<br>
</form>
