@{
    ViewData["Title"] = "Edit Cookbook";
}

<div class="text-center">
    <h2 class="display-4">Edit Cookbook</h2> @*Need to get Recipe name instead of recipe*@
    <p>Let's get ready to cook!</p>
</div>