@*  This creates a reference called model to the 
    list of models the controller passes to this view.
    Access the data by using keyword model *@
@model RecipeBuilder.ViewModels.CookbooksIndexVM

@{
    ViewData["Title"] = "My Cookbooks";
}

<div class="text-center">
    <h1 class="display-4">My Cookbooks</h1>
    <p>Let's get ready to cook!</p>
</div>
<div class="text-center">
    <table class="table">
    <tr>
        <th>
            Cookbooks
        </th>
        <th></th>
    </tr>

@foreach (var cookbook in Model.cookbooks) {
    <tr>
        <td>
            <a asp-action=Cookbook asp-route-id=@cookbook.Title>@cookbook.Title</a>
        </td>
    </tr>
}


</table>
</div>